#watchText {
	text-align: center;
	font-size: 2em;
	color: #005555;
}

#watchDisplay {
	text-align: center;
	font-size: 4em;
	font-weight: bolder;
	color: #008080
}

#buttonDiv {
	text-align: center;
	padding: 1em;
}

#resetButton {
	font-size: 3em;
}

#modifyAccordionHeader {
	text-align: center;
}

